/* * {
    padding: 0;
    height: 100%;
}
html {
    height: 100%;
} */

:root {
    --vistior-factor: 0.8;
}

body {
    height: 100%;

    align-content: center;

    /* last picture in the line is set as background with linear gradient */
    background-image: linear-gradient(to right, rgba(28, 115, 202, 0.472), rgba(152, 26, 211, 0.438)), url("../img/backgrounds/backgroundimage.jpg");
    background-image: linear-gradient(to right, rgba(28, 115, 202, 0.472), rgba(152, 26, 211, 0.438)), url("../img/backgrounds/people.jpg");
    background-image: linear-gradient(to right, rgba(28, 115, 202, 0.472), rgba(152, 26, 211, 0.438)), url("../img/backgrounds/breakfast.jpg");

    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    margin: 0;
    font-family: system-ui;
}

.hero {
    background-color: #074f57;
    color: white;
}

.container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right   : 1rem;
}

.clock-downsizer{
    max-width: 120px;
    max-height: 120px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

h1 {
    color: white;
    font-family: Arial, sans-serif;
    font-size: 100px;
}

.card { background-color: rgba(245, 245, 245, 0.7); align-items: center; align-content: center;}
.card-header, .card-footer { opacity: 1}