/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    width: 100vw;
    background-color: #212121;
}
.container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
} */
:root {
    --thermometer-value: 250px;
}

.logo {
    position: relative;
    height: 450px;
    width: 100px;
}
.bar {
    padding: 240;
    z-index: 1;
    height: 360px;
    width: 40px;
    background-color: #fefffe;
    border-radius: 25px 25px 0 0;
    position: absolute;
    top: 5px;
    left: 50%;
    /* The line below shifts the thermometer */
    transform: translateX(320%);
}

.circle {
    height: 100px;
    width: 100px;
    background-color: #fefffe;
    position: absolute;
    bottom: 0;
    border-radius: 50%;
    /* The line below is not from the tutorial -> fixes the circle position */
    transform: translate(-30%, 80%);
}
.circle::after {
    content: "";
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #ff3d00;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bar:after {
    content: "";
    display: block;
    height: var(--thermometer-value);
    width: 20px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 5%);
    border-radius: 10px 10px 0 0;
    background-color: #ff3d00;

    bottom: 0;

    animation: anim ease-out 1s forwards;
    /* animation: scale-easeOutElastic; */

    
}

/* Wir nehmen an das wir nur 90% der Skala verwenden */
@keyframes anim{
	0% {
		height: calc(0.05 * var(--thermometer-value));
	}

	90% {
		height: calc(1.0 * var(--thermometer-value))
	}

	93% {
		height: calc(0.94 * var(--thermometer-value))
	}

	97% {
		height: calc(0.96 * var(--thermometer-value))
	}

	100% {
		height: calc(0.95 * var(--thermometer-value))
        /* height: (100*)%; */
	}
}

/* @keyframes anim{
    0%{
        height: 5%;
    }
    70% {
        height: 100%;
    }
    100% {
        height: 5%;   
    }
} */

@keyframes animu {
	0% {
		transform: scale(1);
	}

	16% {
		transform: scale(-0.32);
	}

	28% {
		transform: scale(0.13);
	}

	44% {
		transform: scale(-0.05);
	}

	59% {
		transform: scale(0.02);
	}

	73% {
		transform: scale(-0.01);
	}

	88% {
		transform: scale(0);
	}

	100% {
		transform: scale(0);
	}

}